<p>
  <mat-toolbar color="primary">
    <span routerLink="" class="home"> Početna</span>
    <span class="example-spacer"></span>
    <span routerLink="about" class="about"> O nama</span>
    <span class="example-spacer"></span>
    <span routerLink="ponuda" class="logo">Met Hotels ponuda </span><br>
    <span class="example-spacer2"></span>
    <span routerLink="sugg" class="sugg">Preporuke</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="add">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
</p>
