<div>
  <mat-card class="content">
    <h3>Dodajte nov apartman</h3>
    <mat-card-content>
      <form (ngSubmit)="save()" [formGroup]="form">
          <div>
            <mat-form-field>
              <mat-label>Broj sobe</mat-label>
              <input formControlName="room" matInput required type="number" min="0" max="100">
            </mat-form-field>
          </div>
        <div>
          <mat-form-field>
            <mat-label>Cena</mat-label>
            <input formControlName="price" matInput required type="number" min="0">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Opis</mat-label>
            <input formControlName="desc" matInput required type="text">
            <p class="alert alert-danger" *ngIf="form.controls['desc'].hasError('minlength')">
              Opis mora sadrzati najmanje 6 karaktera!
          </p>
          </mat-form-field>
        </div>
        <mat-label>Dodatne usluge:</mat-label> <br/>

<mat-checkbox formControlName="klima" #klima>Klima</mat-checkbox>
<div *ngIf="klima.checked" id="bonusOptionsGroup">
  <p>Vas racun je uvecan za 450 dinara</p>
  </div>
<br />
<mat-checkbox formControlName="minibar" #minibar>Mini-Bar</mat-checkbox>
<div *ngIf="minibar.checked" id="bonusOptionsGroup">
  <p>Vas racun je uvecan za 780 dinara</p>
  </div>
<br />
<mat-checkbox formControlName="sauna" #sauna>Sauna</mat-checkbox>
<div *ngIf="sauna.checked" id="bonusOptionsGroup">
  <p>Vas racun je uvecan za 1200 dinara</p>
</div>
        <div>
          <button type="submit" mat-stroked-button color="primary">Sačuvaj</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
