<h1 class="h1">O Nama</h1>
<p class="onama">MetHotels je nova i inovativna platforma za pretragu i rezervisanje hotelskih soba koja je osnovana 2022. godine <br>
Ovakva platforma je bas ono sto je bilo potrebno korisnicima koji imaju problema da pronadju adekvatan smestaj<br>
U okviru ove aplikacije mozete pregledati i rezervisati sobe u prestiznim hotelima <br>
sirom sveta, izdvajajuci iz ponude samo ono najaktuelnije<br>
Nas tim: Bojana Stajic 4596</p>
<img class ="photo" width="400" src= "/assets/images/slika.jpg" alt="slika">
