<app-header></app-header>
<form>
    <div class='raspolozivo'>
        <h2>Raspolozivi hoteli</h2>
    </div>


    <div class='product' *ngFor="let room of todoList">
        <ul>
            <li>
                <div class='product2'>
                    <h3> {{room.room}} </h3>
                    <p class='postavio'>Sprat: {{room.floor}} </p>
                    <input class='pogledaj' [routerLink]="['/ponuda', room.id]" type='submit' value='Pogledaj'>


                </div>
            </li>
        </ul>
    </div>
</form>
